:root {
    --text-color: #3b88c3;
    --grey-color: #B3C1D3;
    --white-color: #fff;
    --body-bg-color: #EBF7FF;
}

body {
    font-family: Arial;
    font-size: 14px;
    box-sizing: border-box;
    color: var(--text-color);
    background: var(--body-bg-color);
}

h4 {
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    line-height: 1.5;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

center {
    margin: 20px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

li {
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

[data-type="page"] {
    max-width: 900px;
    margin: 0 auto;
}

header > div {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 5px solid;
    margin: 0 10px;
    color: var(--grey-color);
    border-color: var(--grey-color);
}

header > div.active {
    color: var(--text-color);
    border-color: var(--text-color);
}

.hide {
    display: none;
}

.extension {
    padding: 10px;
    margin: 20px 10px;
    background: var(--white-color);
    box-shadow: 0px 2px 9px -5px black;
    border-radius: 10px;
}

.imageDiv {
    width: 125px;
    display: inline-block;
    vertical-align: middle;
    word-wrap: break-word;
    text-align: center;
    font-size: 12px;
}

.imageDiv img {
    width: 48px;
}

.imageDiv h4 {
    margin: 5px 0;
}

.contentDiv {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 146px);
    padding: 5px 10px;
    box-shadow: -7px 0px 4px -6px var(--grey-color);
}

.extension[data-enabled="false"] {
    filter: grayscale(1);
}

.extension .contentDiv p {
    margin: 0;
    text-transform: capitalize;
    box-shadow: 0px 7px 4px -6px var(--grey-color);
    padding-bottom: 10px;
    position: relative;
    font-weight: bold;
}

.extension .contentDiv p > a, .extension .contentDiv p > span {
    font-weight: normal;
    padding: 2px 5px;
    position: absolute;
    right: 0;
    top: -5px;
}

.extension .contentDiv p > span button {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    cursor: pointer;
    background: none;
    margin-left: 5px;
    font-size: 14px;
    border-radius: 3px;
}

.extension .contentDiv p > span button:hover {
    background: var(--text-color);
    color: var(--white-color)
}

.contentDiv h5 {
    margin: 0;
    font-weight: normal;
    line-height: 1.5;
}

.contentDiv h5 {
    font-weight: normal;
    margin: 10px 0;
    font-size: 1em;
}

.permissionHolder {
    margin: 10px 0;
}

.permissionHolder span {
    display: inline-block;
    padding: 3px 10px;
    margin-right: 10px;
    background: #fff;
    text-transform: capitalize;
    font-size: 12px;
    border-radius: 2px;
}

.extension .contentDiv p, .extension .contentDiv h5 {
    padding-left: 10px;
}

.addon img {
    width: 48px;
}

.permissions {
    background: var(--white-color);
    padding: 10px;
    margin: 20px 10px;
    box-shadow: 0px 2px 9px -5px black;
    border-radius: 10px;
}

.permissions .imageDiv img {
    /* filter: invert(43%) sepia(55%) saturate(2846%) hue-rotate(198deg) brightness(96%) contrast(82%);; */
    filter: invert(51%) sepia(9%) saturate(3402%) hue-rotate(163deg) brightness(93%) contrast(84%);
}

.addon {
    cursor: pointer;
    width: 120px;
    text-align: center;
    display: inline-block;
    margin: 20px 20px 0px;
    vertical-align: top;
}

.permissions .imageDiv h4 {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: capitalize;
}

.permissions .contentDiv p {
    margin: 0;
    box-shadow: 0px 7px 4px -6px var(--grey-color);
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 10px;
}
